body {
  background-image: url(herobk.png)
  background-size: cover; 
  background-attachment: fixed;
}

/* Navigation Section */
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


@media (max-width: 768px) {
    nav li {
        display: block; 
        margin-right: 0; 
        margin-bottom: 10px; 
    }
}

/* Header Section */
header {
    background-color: #0077b6;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}


@media (max-width: 480px) {
    header h1 {
        font-size: 24px; 
    }
}

/* Content Section */
section {
    padding: 20px;
}


section img {
    max-width: 100%;
}

/* Footer Section and Form */
footer {
    background-color: #333;
    color: #a056;
    text-align: center;
    padding: 10px;
}

footer form {
    margin-top: 10px;
}


    @media (max-width: 480px) {
        footer form {
            display: block; 
    }
    footer input[type="text"],
    footer input[type="email"],
    footer input[type="submit"] {
        width: 100%; 
        margin: 5px 0; 
    }
}

