html,body{
    margin:0;
    padding:0;
}

/* Navigation Section */
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: Center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}


@media (max-width: 768px) {
    nav li {
        display: block; 
        margin-right: 0; 
        margin-bottom: 10px; 
    }
}

/* Header Section */
header {
    background-image: url(../img/herobk.png);
    background-size: cover; 
    padding-top: 8rem;
    padding-bottom: 20rem;
    color: #fff;
    text-align: center;
    }
.btn{
    background-color: #fff;
    padding:15px 30px;
    text-decoration: none;
    border-radius: 18px;
}
header {
    font-size: 20px;
    text-align: center;
}
header h1{
    margin-bottom: 10rem;
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px; 
    }
}

/* Content Section */
section {
    padding: 20px;
}


section img {
    max-width: 100%;
}

/* Footer Section and Form */
footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px;
    text-align: left;
}

footer form {
    margin-top: 10px;
}


    @media (max-width: 480px) {
        footer form {
            display: block; 
    }
    footer input[type="text"],
    footer input[type="email"],
    footer input[type="submit"] {
        width: 100%; 
        margin: 5px 0; 
    }
}

/*Category Links*/
.categories {
    display: flex;
    margin:3rem auto;
    gap:2rem;
    padding-top:5rem;
    padding-bottom:8rem;
    justify-content: center;
}
.category  {
  padding:3rem;
    background-image: url(../img/audio.png);
    background-size: cover;
    border-radius:20px;
}
.category-audio {
    background-image: url(../img/audio.png);
    
}
.category-voice {
    background-image: url(../img/voice.png);
    margin-top:-4rem;
    margin-bottom: 4rem;
    
}
.category-components {
    background-image: url(../img/components.png);
   
}
.category h4 {
    color: white;
    text-transform: Uppercase;
    font-size: 40px; /*google to rotate*/
     writing-mode: vertical-lr;
}

