/* Header Styles */
        header {
        background-color: #0078d4;
        color: #fff;
        text-align: center;
        padding: 20px;
        }

        h1 {
        font-size: 36px;
        font-family: Arial, sans-serif;
        }

        section {
        font-size: 18px;
        font-family: Arial, sans-serif;
        }