header {
            background-color: #0078d4;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        header h1 {
            font-size: 36px;
            font-family: Arial, sans-serif;
        }

        header p {
            font-size: 18px;
            font-family: Arial, sans-serif;